@import 'tailwindcss';

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-bold-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-bolditalic-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-bolditalic-webfont.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-semibold-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-semibold-webfont.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-semibolditalic-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-semibolditalic-webfont.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-medium-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-mediumitalic-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-mediumitalic-webfont.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-regular-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Basier';
	src:
		url('/fonts/basiersquare-italic-webfont.woff2') format('woff2'),
		url('/fonts/basiersquare-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@theme {
	--color-base-bg: #ffffff;
	--color-base-fg: #141414;
	--color-base-accent: #2169ed;

	--color-primary-bg: #3778f1;
	--color-primary-fg: #ffffff;

	--color-muted-fg: #787878;
	--color-secondary-bg: #e2e4e9;
	--color-input-bg: #f5f5f7;
	--color-placeholder: #61758d;
	--color-shadow: #cee5ff;

	--font-sans:
		'Basier', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
	:root {
		background: var(--color-base-bg);
		color: var(--color-muted-fg);
	}
	img {
		object-fit: cover;
	}
	input::-ms-reveal,
	input::-ms-clear {
		display: none;
	}
}

@layer components {
	.title {
		@apply text-3xl leading-none font-semibold tracking-tight text-balance text-base-fg;
	}
	.subtitle {
		@apply text-xl leading-none font-semibold tracking-tight text-base-fg;
	}
	.btn {
		@apply flex cursor-pointer items-center justify-center gap-2 rounded-xl px-4 py-3.5 leading-5 font-medium transition duration-150 active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
		&:focus {
			outline: none;
			box-shadow: 0 0 0 4px var(--color-shadow);
		}
		svg {
			@apply h-4 w-4 stroke-[2.5px];
		}
		&.btn-primary {
			@apply bg-primary-bg text-primary-fg;
		}
		&.btn-secondary {
			@apply bg-secondary-bg text-base-fg;
		}
		&.btn-error {
			@apply bg-[#FF3F4C] text-white;
		}
		&.btn-white {
			@apply bg-white text-primary-bg;
		}
		&.btn-big {
			@apply text-lg leading-5.5 font-semibold;
		}
		&.btn-ghost {
			@apply bg-slate-100 px-4 text-base-fg hover:bg-slate-200;
		}
		&.btn-icon {
			@apply aspect-square size-14 rounded-lg p-4;
		}
	}
	.link {
		@apply font-semibold text-base-accent decoration-2 focus:underline focus:outline-0;
	}
}
